/* Importa estilos base */
@import "./base/reset.css";
@import "./base/global.css";

/* Importa variables y mixins */
@import "./utils/variables.css";

.body-custom {
  background-color: var(--surface-container);
  padding: 2rem 1rem;
}

.navbar {
    border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  background-color: var(--primary);

  ul {
    list-style: none; /* Quita los estilos predeterminados de las viñetas */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0 2rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    margin: 0;
    padding: 0;

    .icon {
      background-color: transparent;
      border:none;
      width: 3rem;
      img {
        width: 100%;
      }
    }
  }
}

/* Estilos para desktop: Navbar en columna y distribución de contenido */
@media (min-width: 1024px) {
  .navbar {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    width: 4%;
    left: 1rem;
    top: 1rem;
    background-color: var(--on-tertiary-container);
    padding-top: 2rem;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .navbar li {
    margin-bottom: 15rem;
  }

  .main-container {
    display: grid;
    grid-template-columns: 5% 95%; /* 15% barra de navegación, 85% contenido */
    height: 100vh;
  }

  .main-content {
    margin-left: 15%;
    padding: 2rem;
    width: 50%;
  }
}
